# Исключаем системные файлы
.DS_Store
Thumbs.db
prompt.txt

# Игнорируем зависимости и сборку (если используешь Node.js, Python или другие языки)
node_modules/
venv/
dist/



# Файлы редакторов и IDE
.idea/
.vscode/
*.swp

# Логи и временные файлы
*.log
*.tmp
*.bak

# Файлы настроек системы
.env